BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 8
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
SpaceAfterCStyleCast: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
SortIncludes: false
FixNamespaceComments: false
